= component 'modalist', title: t('users.payment_methods.edit.title') do
  = component 'modalist/closer'

%h2= t('users.payment_methods.edit.header')
%p= t('users.payment_methods.edit.content')

= form_tag(users_payment_method_url,
  method: :post,
  authenticity_token: true,
  remote: params.key?(:plan)) do
  %input{ type: 'hidden', name: 'stripeToken' }
  #card-element
  .myg-button__container.myg-grid__flex.-reverse
    - if params.key?(:plan)
      = component('myg/button',
        value: t('users.payment_methods.edit.continue_to_checkout'),
        data: { modalist_url: checkout_url(build: params[:build],
          plan: params[:plan]) })
    - else
      = component('myg/button',
        value: t('users.payment_methods.edit.add_payment_method'))
