= component 'modalist', title: t('users.payment_methods.show.title') do
  = component 'modalist/closer'

- if current_user.has_payment_method?
  %h2= t('users.payment_methods.show.has_payment_method.title')
  %p= t('users.payment_methods.show.has_payment_method.content')
- else
  %h2= t('users.payment_methods.show.no_payment_method.title')
  %p= t('users.payment_methods.show.no_payment_method.content')
.myg-button__container
  = link_to(t('users.payment_methods.show.add_payment_method'),
    users_edit_payment_method_url(build: params[:build],
      plan: params[:plan]),
    class: 'myg-button modalist--trigger')
  - if current_user.has_payment_method?
    - if params.key?(:plan)
      = link_to(t('users.payment_methods.show.continue_to_checkout'),
        checkout_url(build: params[:build], plan: params[:plan]),
        class: 'myg-button--secondary modalist--trigger')
    - else
      = link_to(t('d.cancel'),
        'javascript:void(0)',
        class: 'myg-button--secondary modalist--closer')
