.myg-grid.myg-wrap--tablet
  .myg-card
    %h1.sm $0
    %h3= t('d.free')
    %p.sm= t('welcome._ios.free.content')
    %p.sm= t('welcome._ios.free.features')
    .license
      %p.sm= t('welcome._ios.free.license')
  .myg-card
    %h1.sm
      = "$#{Settings.nativegap.pricing.ios.starter}"
      %span= t('welcome._ios.per_year')
    %h3= t('d.starter')
    %p.sm= t('welcome._ios.starter.content')
    %p.sm= t('welcome._ios.starter.features')
    .license
      %p.sm= t('welcome._ios.starter.license')
  .myg-card
    %h1.sm
      = "$#{Settings.nativegap.pricing.ios.pro}"
      %span= t('welcome._ios.per_year')
    %h3= t('d.professional')
    %p.sm= t('welcome._ios.professional.content')
    %p.sm= t('welcome._ios.professional.features')
    .license
      %p.sm= t('welcome._ios.professional.license')
