- meta title: t('welcome.index.title')

%section#head
  .myg-layout__wrap--large
    %h1.sm= t('welcome.index.title')
    %p.lg= t('welcome.index.content')
    = simple_form_for App.new, method: :get, url: new_app_path, html: { class: 'myg-grid__flex' } do
      = component 'myg/form-field', as: :input, attribute: :url, class_name: 'app', input_html: { required: true, spellcheck: false, type: 'url', placeholder: 'https://nativegap.com' }
      = component 'myg/button', value: t('welcome.index.get_started')

%section.myg-layout__wrap--tablet#explore
  %h2= t('welcome.index.explore.title')
  %p= t('welcome.index.explore.content')
  .myg-grid__grid.myg-grid__grid--default
    - App.where(visibility: 'public').limit(3)&.each do |app|
      = link_to app_explore_path(app) do
        = image_tag app.icon.url
        %h3.sm= app.name
        %p.sm= app.description
  .myg-button__container
    = link_to t('welcome.index.explore.button'), explore_path, class: 'myg-button--secondary', data: { turbolinks_animate_type: 'application' }

%section.myg-layout__wrap--large#features
  .feature
    %h2= t('welcome.index.features.enlighten_your_users.title')
    %p= t('welcome.index.features.enlighten_your_users.content')
  .feature
    %h2= t('welcome.index.features.one_app.title')
    %p= t('welcome.index.features.one_app.content')
  .feature
    %h2= t('welcome.index.features.consistent_and_beautiful.title')
    %p= t('welcome.index.features.consistent_and_beautiful.content')
  .feature
    %h2= t('welcome.index.features.from_a_website_to_an_app.title')
    %p= t('welcome.index.features.from_a_website_to_an_app.content')

%section.myg-layout__wrap--tablet#pricing
  %a{ name: 'pricing' }
  %h2= t('d.pricing')
  %p= t('welcome.index.pricing.content')
  = component 'myg/tabs', tabs: [{ name: t('d.android'), partial: 'android', active: true }, { name: t('d.ios'), partial: 'ios' }, { name: t('d.windows'), id: 'windows', partial: 'windows' }, { name: t('d.chrome'), partial: 'chrome' }], nav_html: { class: '-center' }

= component 'footer'
