%h1
  = "$#{@price}"
  %span= t('subscriptions.new.per_year')
- if params[:plan] == 'starter'
  %h2= t('d.starter')
  %p= t('subscriptions.new.starter')
- elsif params[:plan] == 'pro'
  %h2= t('d.professional')
  %p= t('subscriptions.new.professional')

.myg-button__container
  = link_to(t('d.purchase'),
    subscriptions_url(build: params[:build], plan: params[:plan]),
    method: :post,
    class: 'myg-button')
