- meta title: t('d.login')

%h2= t('d.login')
%p= t('devise.sessions.new.content')

= simple_form_for resource, as: resource_name, url: user_session_url do |f|
  = f.input(:app_id,
    as: :hidden,
    required: false,
    input_html: { value: params[:app] })
  = component('myg/form-field',
    as: :input,
    attribute: :email,
    class_name: 'user',
    floating_label: t('d.email'),
    input_html: { required: true, type: 'email', autofocus: true })
  = component('myg/form-field',
    as: :input,
    attribute: :password,
    class_name: 'user',
    floating_label: t('d.password'),
    input_html: { required: true, type: 'password', minlength: 5 })
  - if devise_mapping.rememberable?
    = component('myg/form-field',
      as: :checkbox,
      attribute: :remember_me,
      class_name: 'user',
      inline_label: t('devise.sessions.new.form.remember_me'),
      input_html: { input_html: { checked: true } })
  .flex.space-between
    %p.sm
      = link_to(t('d.signup'),
        new_user_registration_url(app: params[:app]),
        class: 'hyperlink--inherit',
        data: { turbolinks_animate_type: 'devise' })
      = link_to(t('devise.sessions.new.form.forgot_password'),
        new_user_password_url,
        class: 'hyperlink--inherit',
        data: { turbolinks_animate_type: 'devise' })
    = component 'myg/button', value: t('d.login')
