- replace :layout, 'devise'

= mozaic do
    .myg-content.flex.column.center
        = link_to root_url, data: { turbolinks_animate_persist: 'devise' } do
            = asset 'components/brand/logo_large'
        .myg-card.myg-wrap--phone{ data: { turbolinks_animate_persist_itself: 'devise' } }
            = mozaic_area :devise do
                = yield
